.carousel-item{
  height: 300px;
  width: auto;
}
.carousel-item img{
  height: 300px;
  width: auto;
}

img{

  height: 600px;
  width: auto;
}

.logo{

  height: 70px;
  width: auto;
  margin: 10px;
}

.scru {
  height: 100px;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scruP {
  height: 150px;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}




.Detalle{

  padding: 0px;
  margin-top: 3%;
  margin-right: 8%;
  margin-left: 8%;
  border-left: 5px solid #00eeff;
  border-right: 5px solid #00eeff;
  border-radius: 40px;

}
