  <div *ngIf="cargar" class="Detalle">

  <div class="row justify-content-md-center">
    <div class="col-sm-4"><img [src]=" this.pelicula.poster_path" alt="" class="rounded"></div>
    <div class="col-sm-5">

      <div class="row justify-content-around">
        <div class="col-6" class="cabeceraD">
          <h1>{{pelicula.original_title}}</h1>
        </div>
        <div class="col-4">
          <button type="button" (click)="favorito()" class="btn btn-warning"><b style="font-size:17pt;">Agregar a Favoritos</b></button>
        </div>
      </div>


      <br>
      <ul class="list-group">
        <li class="list-group-item active">Info</li>
        <li class="list-group-item"><p><b>Titulo Original:</b> {{pelicula.original_title}}  </p></li>
        <li class="list-group-item"><div class="scru"><p><b>Descripcion:</b><span> {{pelicula.overview}}</span>   </p></div></li>
        <li class="list-group-item"><p><b>Idioma:</b> {{pelicula.original_language | idioma}}  </p></li>
        <li class="list-group-item"><p><b>Estreno:</b> {{pelicula.release_date}}  </p></li>
        <li class="list-group-item"><p><b>Pagina Oficial:</b> <a [href]="pelicula.homepage">  {{pelicula.homepage}}</a>  </p></li>
        <li class="list-group-item">
            <div><h3><b>Productoras:</b></h3></div>
            <div class="scruP">
              <div *ngFor="let compa of companias" >
                <div class="row" >

                  <div class="col-sm-4"><b>{{compa.name}}</b></div>
                  <div class="col-sm-4"><img [src]="compa.logo_path" alt="" class="rounded" class="logo"></div>

                </div>

              </div>

            </div></li>
      </ul>
    </div>
  </div>


</div>
