



    <div class="card" style="width: 13rem;">

      <div *ngIf="this._pelicula.poster_path != null; else elseBlock">

       <img [src]= "this.portada" class="card-img-top" alt="...">


      </div>
      <ng-template #elseBlock>
        <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxN3QsCpuh6LttUpoBvS0AH06It9lcoy-irzO5qAaMGUIgq7hr&usqp=CAU" class="card-img-top" alt="...">
      </ng-template>

      <div class="card-body">
          <h3>Titulo: {{ this._pelicula.original_title }}</h3>
          <h3>Fecha de estreno:   {{ this._pelicula.release_date }}</h3>




    </div>

</div>





