

  <div class="row">
    <div class="col-4" style="margin: 4px;">
      <div class="form-group" style="margin: 0px;">
        <input type="text" [(ngModel)]="PeliBuscar" name="nombre" class="form-control" placeholder="ingresar pelicula..." >
      </div>
    </div>
    <div class="col-4" style="margin: 4px;">
      <div class="form-row" style="margin: 0px;">
        <div class="col">
          <button type="button" (click)="Enviar()" class="btn btn-warning">Buscar</button>
        </div>
      </div>
    </div>
  </div>

