<app-loading (tiempo)="tiempo($event)"></app-loading>
<div class="container">

  <div class="row justify-content-start" class="cabecera">

    <app-buscar-pelicula (EnviarBusqueda)="buscar($event)" ></app-buscar-pelicula>

    <div class="row justify-content-start">

       <div class="col">
        <div class="form-group">
         <h2>Ordenar por</h2>
          <select class="custom-select mr-sm-5" id="ordenamiento" [(ngModel)]="this._ordenar" (change)="ordenarPeli()">
            <option selected disabled>Ordenar...</option>
            <option value="anio">Año</option>
            <option value="titulo">titulo</option>
          </select>
        </div>
      </div>
    </div>



  </div>


  <div class="row justify-content-center" style="margin-top:5px;">
  <div class="col">
    <h1 *ngIf="this.popular" class="titulo" >Peliculas mas populares</h1>
  </div>
</div>
  <div class="row justify-content-start">



      <div class="col" *ngIf="this.lista != null && this._tiempo">




            <mat-grid-list cols="3" rowHeight="1:1.5" class="borde">


                <mat-grid-tile *ngFor="let peli of lista  | paginate: { itemsPerPage: 6, currentPage: pageActual }" >


                  <div class="container">
                      <div class="row justify-content-md-center">

                        <div class="col col-lg-5">

                          <app-card-pelicula [Pelicula]="peli"> </app-card-pelicula>

                        </div>

                      </div>

                      <div class="row justify-content-md-center">

                            <div class="col col-lg-5">
                              <button type="button" (click)="Detalle(peli.id)" class="btn btn-info" style="margin: 4px;">Detalle</button>

                            </div>

                      </div>
                    </div>



                </mat-grid-tile>



            </mat-grid-list>

            <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>




      </div>
  </div>






</div>
