
<div class="container">

  <div class="form-group">
    <label for="usr">Ingresar Pelicula</label>
    <input type="text" [(ngModel)]="variable" name="nombre" class="form-control" placeholder="ingrese el nombre" >
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" (click)="buscar()" class="btn btn-outline-primary btn-blok">Buscar Pelicula</button>
    </div>
  </div>





    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div *ngIf="lista != null" >

          <div class="scruLista">

          <div *ngFor="let peli of lista" >

            <div class="row" >
              <div class="col-sm-4">
                <div class="card" style="width: 13rem;">

                  <div *ngIf="peli.poster_path != null; else elseBlock">
                    <img [src]= "Dominioimg.concat(peli.poster_path)" class="card-img-top" alt="...">
                  </div>
                  <ng-template #elseBlock>
                    <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxN3QsCpuh6LttUpoBvS0AH06It9lcoy-irzO5qAaMGUIgq7hr&usqp=CAU" class="card-img-top" alt="...">
                  </ng-template>
                  <div class="card-body">
                      <h3>Titulo: {{ peli.original_title }}</h3>
                      <h3>Idioma Original:   {{ peli.original_language }}</h3>

                  </div>
                </div>


              </div>
              <div class="col-sm-2">
                <button type="button" (click)="Detalle(peli.id)" class="btn btn-light">Detalle</button>
              </div>
            </div>


        </div>
        </div>
        </div>


      </div>
    </div>








</div>





